; MediaWiki conventions: tabs for indentation, LF, UTF-8.
; https://www.mediawiki.org/wiki/Manual:Coding_conventions

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.{json,yml,yaml}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
